body {
  background-color: #66CCCC;
  padding-bottom: 70px;
  font-family: 'Roboto', sans-serif;
}
html {
  font-family: 'Roboto', sans-serif;
}
a {
  /*color: #069;*/
  color: #004F77;
  font-family: 'Roboto', sans-serif;
}
.lead {
  font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
  background: none;
  font-family: 'Roboto', sans-serif;
}
.navbar-fixed-top {
  height: 10px;
  min-height: 10px;
}
.navbar-fixed-top .icon-row {
  display:none;
}
.navbar-fixed-bottom {
  background: none;
  border-top:none;
  box-shadow:none;
}
.small-row {
  height: 10px;
  min-height: 10px; 
  margin-bottom: 0px;
}
.icon-row {
  height: 60px;
  min-height: 60px; 
  padding-right: 15px;
}
.orange {
  background-color: #C63;
  background: #C63;
  border-bottom: none;
  border-top: none;
}
.page-header {
  border-bottom: none;
}
#logo {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.fa-github {
  color:black;
}
.fa-arrow-left {
  color:;
}
.centered-pills { 
  text-align:center; 
  margin-top: 30px;
}
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { 
  float:left; 
  font-size: large;
  color:#004F77;
}
.nav-pills li a:hover {
  background-color: #FFCC66;
}
.lead {
  font-size: large;
}
.thumbnail img {
  width:300px;
  height:300px;
}
.thumbnail {
  background: none;
  border: none;
}
#personal-desc {
  margin-bottom: 25px;
  margin-top: 5px;
}
.media a, h1 a {
  text-decoration: none;
  color: #004F77;
}
.media a:hover, h1 a:hover {
  color:#004F77;
  background: none;
  text-decoration: none;
}
.media-heading {
  color: #004F77;
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 890px) {
  .navbar-fixed-bottom {
    display:none;
  }
  .navbar-fixed-top .icon-row {
    display: block;
  }
}