---
layout: default
title: Mr. Ben Wells
---

{% include personal_description.html %}

<div class="row clearfix">
  <div class="col-md-3 column"></div>
  <div class="col-md-6 column">
    <ul class="media-list">

      {% for post in site.categories.blog %}
        <li class="media">
          <a href="{{ post.url }}" class='pull-right'>
            <i class="fa fa-bookmark fa-3x"></i>
          </a>
          <div class="media-body">
            <a href="{{ post.url }}" class='pull-left'>
              <h4 class="media-heading">{{ post.title }}</h4>
              <small>{{ post.date | date_to_string }}</small>
            </a>
            <br>
            <br>
            <br>
            <p><i>{{ post.excerpt }}</i></p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-3 column"></div>
</div>


