<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Thanks for visiting! -Ben</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                  {% for item in site.data.socialbuttons %}
                    <li><a href="{{ item.url }}"><i class="fa {{ item.iconclass }}"></i></a>
                    </li>
                  {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</footer>
