<!-- top bar -->
<nav class="navbar navbar-default navbar-fixed-top orange" role="navigation">
  <div class='small-row orange'></div>
  <div class='icon-row'>
    <a href="https://github.com/benwells" target="_blank"><i class='fa fa-github fa-4x pull-right slideLeft'></i></a>
  </div>
</nav>

<!-- bottom bar -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class='icon-row'>
    <a href="https://github.com/benwells" target="_blank"><i class='fa fa-github fa-4x pull-right slideLeft'></i></a>
  </div>
  <div class='small-row orange'></div>
</nav>

<!-- header img and nav -->
<div class="page-header text-center" style="text-align:center;">
  
  <a href='/'><img src="{{site.url}}/img/icon4.png" id="logo" class=''></a>

  <div class='centered-pills'>
    <ul class="nav nav-pills fadeIn">
      <li class="float"><a href="/">Words</a></li>
      <li class="float"><a href="#">Projects</a></li>
      <li class="float"><a href="http://www.benwellsmusic.com" target="_blank">Music</a></li>
      <li class="float"><a href="#">Resume</a></li>
    </ul>
  </div>
</div>