{% for project in site.data.projects %}

  <!-- Portfolio Modal -->
  <div class="portfolio-modal modal fade" id="{{ project.modalId }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2>{{ project.name }}</h2>
                          <p class="item-intro text-muted">
                            {{ project.subtitle }}
                          </p>
                          <img class="img-responsive img-centered" src="{{ project.image }}" alt="" style="margin: 0 auto;">
                          <p>{{ project.description }}</p>
                          <a class="btn btn-primary" href="{{ project.demourl }}"><i class="fa fa-eye fa-2x"></i></a>
                          <a class="btn btn-primary" href="http://www.github.com/benwells/{{ project.repo }}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times fa-2x"></i></button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endfor %}
