<!-- sidebar -->
<div class="column col-sm-3" id="sidebar">
  <a class="logo" href="/">
    <img src="/img/icon7.png">
  </a>
  <ul class="nav">
    <li class="active">
      <a href="#allstories">All Stories</a>
    </li>
    <li><a href="#stories">Tags</a>
    </li>
  </ul>
  {% for t in site.data.tags %}
    <span class="label label-default">{{ t.name }}</span>
  {% endfor %}
  <ul class="nav hidden-xs" id="sidebar-footer">
    {% for item in site.data.socialbuttons %}
    <li>
      <a href="{{ item.url }}" target="_blank">
        <i class="fa {{ item.iconclass }} fa-2x"></i>
      </a>
    </li>
    {% endfor %}
    <!-- <li>
                      <a href="http://www.bootply.com"><h3>Basis</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Bootply</a>
                    </li> -->
  </ul>
</div>
<!-- /sidebar -->
