#calc td{
  padding-top: 10px;
  margin: 10px;
  height: 100px;
  width: 150px;
  text-align: center;
  border: none;
  font-size: 375%;
  color: white;
}

#result{
  text-align: center;
  background-color: white;
  opacity: 0.7;
  border-radius: 30px;
}

#result-container {
  font-size: 400%;
  opacity: 1.0;
  background: transparent;
  color:green;
  z-index: 1;
}


html {
  background: url('../img/background.jpg') no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

.btn-success{
  background: transparent;
  border: 1px solid black;
  border-top: 1px solid black;
}