<!doctype html>
<html lang='en' ng-app>

  <head>
    <title>Calc!</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/calc.css">
    <script type="text/javascript" src='js/jquery.js'></script>
    <script type="text/javascript" src='js/bootstrap.min.js'></script>
    <script type="text/javascript" src='js/angular.min.js'></script>
    <script type="text/javascript" src='js/controller.js'></script>
  </head>

  <body ng-controller="CalculatorController" ng-keyup='keyup($event)'>
    <div class='container'>
      <div class='row'>
        <table id='calc' class='table'>
          <tbody>
            <tr>
              <td class='btn btn-success' ng-click='build($event)'>7</td>
              <td class='btn btn-success' ng-click='build($event)'>8</td>
              <td class='btn btn-success' ng-click='build($event)'>9</td>
              <td class='btn btn-success' ng-click='build($event)'>+</td>
            </tr>
            <tr>
              <td class='btn btn-success' ng-click='build($event)'>4</td>
              <td class='btn btn-success' ng-click='build($event)'>5</td>
              <td class='btn btn-success' ng-click='build($event)'>6</td>
              <td class='btn btn-success' ng-click='build($event)'>-</td>
            </tr>
            <tr>
              <td class='btn btn-success' ng-click='build($event)'>1</td>
              <td class='btn btn-success' ng-click='build($event)'>2</td>
              <td class='btn btn-success' ng-click='build($event)'>3</td>
              <td class='btn btn-success' ng-click='build($event)'>*</td>
            </tr>
            <tr>
              <td class='btn btn-success' ng-click='build($event)'>0</td>
              <td class='btn btn-success' ng-click='execute()'>=</td>
              <td class="btn btn-success" ng-click='clear()'>C</td>
              <td class='btn btn-success' ng-click='build($event)'>/</td>
              <td class='btn btn-success' ng-click='build($event)'>(</td>
              <td class='btn btn-success' ng-click='build($event)'>)</td>
            </tr>
          </tbody>
        </table>
        <div class='row'>
          <div class="col-lg-8 col-lg-offset-2">
            <div id='result'>
              <div id='result-container'>{{ result }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </body>

</html>