<!DOCTYPE html>
<html lang="en">

{% include head.html layout="default" %}

<body id="page-top" class="index">

    {% include navigation.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">My name is Ben</div>
                <div class="intro-heading">I create for the web.</div>
                <a href="#about" class="page-scroll">
                  <!-- Tell Me More -->
                  <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
            </div>

        </div>
    </header>

    {% include about_section.html %}

    {% include portfolio_section.html %}

    {% include resume_section.html %}

    {% include logos_section.html %}

    {% include contact_section.html %}

    {% include footer_section.html %}

    {% include portfolio_modals.html %}

    {% include footer_scripts.html %}

</body>

</html>
