<!DOCTYPE html>
<html lang="en">

{% include semantic/head.html layout="semantic" %}

  <div class="pusher" style="height:100%">
    <i class="sidebar icon inverted" id="sidebar-icon" onclick="$('.bensidebar').sidebar('toggle');"></i>
    <div class="ui segment landing-segment">
      {% include semantic/social_menu.html layout="semantic" %}
      {% include semantic/title.html layout="semantic" %}
      {% include semantic/main_menu.html layout="semantic" %}
    </div>

    {% include semantic/about_segment.html layout="semantic" %}
  </div>


</html>
