<div class="ui text container" id="social-menu" style="text-align:center;">
  <div class="ui secondary icon labeled compact menu myfont">
    <a href="https://www.linkedin.com/in/mrbenwells" target="_blank" class="item">
      <i class="linkedin icon inverted"></i>
    </a>
    <a href="https://www.github.com/benwells" target="_blank" class="item">
      <i class="github icon inverted"></i>
    </a>
    <a href="https://www.twitter.com/mrbrwells" target="_blank" class="item">
      <i class="twitter icon inverted"></i>
    </a>
  </div>
</div>
