<div class="ui container" id="title">
  <h1 class="ui myfont main-title">MR.BEN.WELLS</h1>
</div>

<div class="ui container">
  <div class="ui two column grid stackable">
    <!--  small pic for smaller viewports -->
    <div class="column small-pic" style="display:none;">
      <img src="/img/me.png" class="ui fluid circular image main-img" alt="me" style="max-width:200px;"/>
    </div>

    <!-- main mast -->
    <div class="column mast-col-1">
      <div class="header ui myfont header1" style="font-size:36px;">
        Hi There,
      </div>
      <div class="header ui myfont header2" style="font-size:26px;">
        I'm a full-stack web developer currently residing in Charleston, SC.
      </div>
      <div class="header ui myfont header3" style="font-size:22px;">
        I love to create beautiful, functional sites and applications for the web.
      </div>
    </div>

    <!-- large pic -->
    <div class="column large-pic">
      <img src="/img/me.png" class="ui fluid circular image main-img" alt="me" style="max-width:200px;"/>
    </div>
  </div>
</div>
